<!doctype html>
<title>Query</title>
<link rel=stylesheet type=text/css href='{{ url_for('static',filename='style.css')}}'>
<div class=page>
  <h1>Specify a Song</h1>

  <div class=metanav>

    Which song by that artist is your favorite?

    <h4>
      <form id='answerform' method='post' action='pickasong' >      
        <p>
         {% for song in song_list %}
        <input type='radio' name='song_pick' value = {{song}} \> {{song_list[song]}} </input><br />
         {% endfor %}
        </p>

        <p>
          <input type='submit'  />
        </p>
      </form>
    </h4>
  </div>
</div>
