<!doctype html>
<title>Welcome</title>
<link rel=stylesheet type=text/css href='{{ url_for('static',filename='style.css')}}'>
<div class=page>
  <h1>Welcome to our Strava app!</h1>
  <div class=metanav>
    <h3>
     This app provides some highlights from recent club activities.
    </h3>
    <h3>
        You have chosen {{session['cname']}}
  </h3>

  <div class=metanav>

    {{question}}

    <h4>
      <form id='answerform' method='post' action='options2' >
        <p>
          Answer: <br />
          {% for id, name in choices %}
          <input type='radio' name='choice2' value={{id}} /> {{name}} <br />
          {% endfor %}
        </p>

        <p>
          <input type='submit' value='OK!' />
        </p>
      </form>
    </h4>

  </div>
</div>
</html>
